.app-footer {
    width: 100%;
    padding: 0.5rem 1.5rem;
    text-align: center;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.95rem;
    background-color: #8E6DF7;
  }
  
  .app-footer a {
    color: #8E6DF7;
    text-decoration: none;
    font-weight: 500;
  }
  
  .app-footer a:hover { text-decoration: underline; }

  @media (max-width:400px)  { .app-footer{font-size: 0.65rem;} }
  @media (max-height:800px) { .app-footer{ display: flex; justify-content: space-between; align-items: center;}   }